extends layout
block content
  div(ng-app="" id="new_div")
    section(id="main_section")
      article
        header
        hgroup
          h1 NodeJs
            a(name="java") 
          h2  &emsp; This page was created using MEAN and pug just for experience and practice. My knowledge comes from youtube channels teachers such as Bucky and Derek Banas.

    aside(id="side_news")

        div(id="button")
          p(id="text") CSS transition

  
