DOCTYPE
html
  head
    meta(charset="utf-8")
    title The Bruno
    link(href='/css/basic.css', rel='stylesheet')

  body(ng-app="")
    div(id="big_wrapper")
      header(id="top_header")
        h1 The Bruno
      nav(id="top_menu")
        section(id="links")
          div(id="javascript")
            a(href="#java") Javascript